* {margin: 0; padding: 0;}

body {background-color: #ccc;}

main {
	width: 980px;
	height: 1386px;
	margin: 0 auto;
	/*padding-left: 42px;*/
	/*padding-right: 42px;*/
	background-color: white;
}

header{
	/*margin-left: 44px;*/
	/*margin-right: 42px;*/
	height: 61px;
	border-bottom: 2px solid #938e8c;
	font: 12px "黑体";
}

header .flag{
	width: 100px;
	height: 100%;
	background-color: #d45d5c;
	color: #fff;
	/*font: 12px "黑体";*/
	padding: 0 5px 0;
	display: inline-block;
}

header .flag span{
	display: inline-block;
	padding-top: 45px;
	/*margin-top: 45px;  会发生折叠，这个需要注意*/
}

header .date{
	color: #d45d5c;
	/*float: right;*/
	/*display: block;*/
	margin-left: 82%;
}
header, .top_side{
	width: 892px;
	margin: 0 auto;
}

.top_side{
	margin-top: 30px;
	/*margin-left: 42px;*/
	/*margin-right: 42px;*/
	overflow: hidden;
}

.top_side .left_side{
	float: left;
	position: relative;
	width: 641px;
}

.top_side .left_side img{
	width: 100%;
	height: 301px;
	display: inline-block;
}

.top_side .left_side span{
	content: "asdf";
	position: absolute;
	width: 191px;
	height: 301px;
	background: red;
	opacity: 0.5;
}      

.top_side .left_side span.l{
	background-color: #75b86b;
	left: 0;
}

.top_side .left_side span.r{
	background-color: #d45d5c;
	right: 0;
}

.top_side .right_side{
	width: 203px;
	float: right;
	margin-right: 0px;
	border-top: 2px solid #cc8091;
}

.top_side .right_side h1{
	/*margin-top: 10px;*/
	font: 20px "microsoft yahei";
	display: inline-block;
	/*line-height: 28px;        */
	height: 30px;  
	border-bottom: 2px solid black;
}

.top_side .right_side h1:first-letter{
	font: 25px "microsoft yahei";
}

.top_side .right_side p{
	margin-top: 10px;
	font: 12px #676767 "楷体"
}

.top_side .right_side .green_num{
	font: 116px "microsoft yahei";
	color: #75b86b;
	font-style: italic;
	margin-left: -20px;
	line-height: 125px;
}

.top_side .right_side .red_num{
	font: 55px "microsoft yahei";
	color: #cc8091;
	display: inline-block;
}

.top_side .right_side div div{
	/*float: right;*/
	display: inline-block;
	font: 12px "microsoft yahei";
}

.top_side .right_side div div .small_red{
	font-size: 21px;
	color: #cc8091;
	margin-bottom: -5px;
}

.top_side .right_side div div .small{
	margin: 0;
}

.top_side .left_side article:not(:last-child){
	float: left;
	width: 30%;
	margin-right: 30px;
}

.top_side .left_side article h3{
	font: bold 16px;
	text-decoration: underline; 
}

.top_side .left_side article h3.what{
	color: #92b79c;
}

.top_side .left_side article h3.why{
	color: #d2994f;
}

.top_side .left_side article h3.how{
	color: #cc7680;
}

.top_side .left_side article p{
	font: 12px "microsoft yahei";
	color: #231815;
	margin-top: 16px;
	opacity: 70%;
}