* {margin: 0; padding: 0;}

body {background-color: #ccc;}

main {
	width: 980px;
	height: 1386px;
	margin: 0 auto;
	/*padding-left: 42px;*/
	/*padding-right: 42px;*/
	background-color: white;
}

header{
	/*margin-left: 44px;*/
	/*margin-right: 42px;*/
	height: 61px;
	border-bottom: 2px solid #938e8c;
}

header .flag{
	width: 100px;
	height: 100%;
	background-color: #d45d5c;
	color: #fff;
	font: 12px "黑体";
	padding: 0 5px 0;
	/*vertical-align: baseline;*/
	display: inline-block;
}

header, .top_side{
	width: 892px;
	margin: 0 auto;
}

.top_side{
	margin-top: 30px;
	/*margin-left: 42px;*/
	/*margin-right: 42px;*/
	overflow: hidden;
}

.top_side .left_side{
	float: left;
	width: 641px;
}

.top_side .left_side img{
	width: 100%;
	height: 301px;
}

.top_side .right_side{
	width: 203px;
	float: right;
	margin-right: 0px;
}